.root {
  width: 100%;

  padding: 6px;

  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));

  gap: 24px;
}

.message {
  display: block;
  margin-top: 24px;
  margin-left: 6px;

  color: var(--g-color-text-secondary);
}
