.root {
  width: 100%;

  > div:first-child {
    height: 18px;
    div {
      height: 100%;
      width: 56px;
    }
  }
}

.title {
  margin-top: 10px;
  height: 48px;

  > div {
    height: 100%;
    width: 320px;
  }
}

.main {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 64px;

  @media screen and (max-width: 1150px) {
    flex-direction: column-reverse;
    gap: 32px;
  }
}

.about {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  .short_desc {
    > div {
      height: 72px;
    }
  }

  .game_info {
    margin: 40px 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 64px;

    > div {
      height: 40px;
      width: 100px;
    }
  }

  .desc {
    display: flex;
    flex-direction: column;
    gap: 12px;

    > div:first-child {
      height: 28px;
      width: 200px;
    }
    > div:last-child {
      height: 300px;
    }
  }
}

.aside {
  flex-shrink: 0;
  width: 320px;

  display: flex;
  flex-direction: column;
  gap: 24px;

  .image {
    height: 180px;
  }

  @media screen and (max-width: 1150px) {
    flex-direction: row;
    width: 100%;

    .image {
      height: 300px;
    }
  }

  @media screen and (max-width: 920px) {
    flex-direction: column;
    width: 100%;

    .aside_info {
      width: 100%;
    }

    .image {
      height: 300px;
    }
  }
}

.aside_info {
  flex-shrink: 0;
  width: 320px;

  > div:first-child {
    width: 100%;
    height: 44px;
  }

  ul {
    list-style: none;

    li {
      height: 60px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      > div:first-child {
        height: 24px;
      }
      > div:last-child {
        height: 32px;
      }
    }
  }
}
