:root {
  --container-xl: 1420px;
  --transition-default: 0.1s ease-in-out;
}

.g-root_theme_dark {
  --g-color-base-background: #1d1d1d;
  --g-color-base-brand: #da806c;
  --g-color-base-brand-hover: #d56f58;
  --g-color-base-selection: #4b3935;
  --g-color-base-selection-hover: #623f37;
  --g-color-line-brand: #da806c;
  --g-color-text-brand: #e3a192;
  --g-color-text-link: #e3a192;
  --g-color-text-link-hover: #edc1b7;
}
