:root {
  --container-xl: 1420px;
  --transition-default: 0.1s ease-in-out;
}

.g-root_theme_dark {
  --g-color-base-background: #1d1d1d;
  --g-color-secondary-background: #ffffff10;
  --g-color-base-brand: #f76d61;
  --g-color-base-brand-hover: #ee5b4f;
  --g-color-base-selection: #4c3837;
  --g-color-base-selection-hover: #643e3a;
  --g-color-line-brand: #f76d61;
  --g-color-text-brand: #f9968e;
  --g-color-text-link: #f9968e;
  --g-color-text-link-hover: #fbbbb5;
}
