.root {
  width: 100%;
}

.header {
  margin-top: 20px;
  h1 {
    color: white;
  }
}

.main {
  margin-top: 30px;
  display: flex;
  flex-direction: row;

  .info {
    width: 100%;
  }

  aside {
    flex-shrink: 0;
    width: 256px;
    margin-left: 32px;

    button {
      width: 100%;
    }

    ul {
      list-style: none;
      li {
        height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        &:nth-child(n + 2) {
          border-top: 1px solid gray;
        }
      }
    }
  }
}

.details {
  margin-top: 30px;
  p {
    line-height: 24px;
    font-size: 20px;
  }
}

.image_carousel {
  img {
    border-radius: 4px;
    position: relative;
    height: 100%;
    width: 100%;
  }
}

.screenshots {
  margin-top: 20px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;

  img {
    object-fit: cover;
    border-radius: 4px;
  }
}

.game_info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.about {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
