.root {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.head {
  display: flex;
  padding: 12px 6px;
  align-items: center;
  justify-content: space-between;
}

.filterList {
  display: flex;
  flex-direction: column;

  .filterItem {
    border-top: 1px solid var(--g-color-line-generic);
  }
}

.popupWrapper {
  background-color: #1d1d1dcc;
  width: 300px;
  padding: 6px 12px;
  .filterItem {
    border: none;
  }
}
